<b> Jenis Huruf</b>
<br/><font face="Times New Roman">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Arial">Homepage ini masih dalam tahap pengembangan</font><br/> <font face="Courier New">Homepage ini masih dalam tahap pengembangan</font><br/>
<font face="Verdana">Homepage ini masih dalam tahap pengembangan</font>


<p><b>Ukuran</b></p>
<font size="1">AKU,</font>
<font size="2">AKU,</font>
<font size="3">AKU,</font>
<font size="4">AKU,</font>
<font size="5">AKU,</font>
<font size="6">AKU,</font>
<font size="7">AKU,</font>


<p><b>Warna</b>
<br/><b><font color="#FF0000">Red</font><br/>
<font color="#800000">Maroon</font><br/>
<font color="#00FF08">Lime</font><br/>
<font color="#088000">Green</font><br/>
<font color="#0000FF">Blue</font><br/>
<font color="#000080">Navy</font><br/>
<font color="#FFFF00">Yellows/font><br/>
<font color="#FFOOFF">Fuchisia</font><br/> <font color="#00FFFF">Aqua</font><br/></p>