<p>Halo Perkenalkan,<br/> nama saya<b> ARDHANA ARISYI </b>Ini adalah<br/>homepage pertama saya, <br/>karena saya baru belajar tentang cara<br/>membuat homepage.</p>

<p>Homepage ini masih dalam tahap pengembangan, oleh karena itu tampilannya masih terlalu biasa dan sederhana.</p>
<p><i>Aku Indonesia</i><br>Kamu Pakistan</i><br><i> Aku hanya orang biasa</i><br/><b><i> Yang membutuhkan perhatian<//i><b></p>