<p.Kata dapat dicetak<b>tebal</b>, <i>miring</i>, <u>garis bawah</u>, <b>tebal<i>miring</i></b>,
dan <b><i><u>kombinasi</u></i></b> di tengah huruf normal </p>

<P> Perkenalkan nama saya <b>Ardhana Arisyi.</b> biasanya dipanggil <u>Dhana. </u><i>Saya memiliki kebiasaan yang aneh yaitu selalu bangun setaip 2 jam sekali saat tidur,</i>
dan saya memiliki hobi <b><i><u>Berolahraga.</u></i></b> Dan saat ini saya sedang menempuh pendidikan di <b><i>Universitas Ahmad Dahlan</i></b> Yogyakarta. Sekian </p>